body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    margin: 0;
}

*{
    box-sizing: border-box;
}


header{
    background-color: rgb(165, 161, 161);
    height: 140px;
    position: relative;
}

header > nav {
    position: absolute;
    right: 860px;
    top: 93px;
    font-size: 20px;
    font-weight: bold;
}

 header > nav > ul {
    display: flex;
    margin: 0;
    padding-right: 0;

}
li {
    list-style: none;
}

.dropdown-content > ul > li {
    background-color: grey;
}

 li > a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: #005CA0 !important; 
    text-decoration: underline !important;
}

.dropdown-content >ul > li:hover {
    background-color: rgb(149, 149, 149); 
}
header > nav > ul > li > a {
    margin: 10px;
    padding: 10px;
}

.dropdown-content > ul  {
padding: 5px;
}
.dropdown-content > ul > li {
padding: 15px;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    position: absolute ;
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

#paz-logo {
    position: absolute;
    width: 19%;
    right: -190px;
    top: -50px;
}

header > nav > ul > li > a > img {
    width: 23px;
}

.search-box {
    position: absolute;
    left: 700px;
    top: 23px;
}
.search-box > input {
    font-size: 17px;
    border-radius: 0px 10px 0px 0px;
    border-style: none;   
}

.search-box > img {
    position: absolute;
    width: 24px;
    padding-right: 2px;
}

.search-box > a {
    font-size: 17px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ------------------------ */
/* MAIN part */

main{
    width: 1210px;
    height: 1000px;
    margin: auto;
    margin-top: 33px;
}
.row1 {
    display: flex;
    flex-direction: row;
}

.row1 > div {
    flex-grow: 1;
    
}

.row1 > div > img {
    width: 100%;
    padding: 8px;
    border-radius: 0px 0px 30px 0px ;
}

.row2 {
    display: flex;
    flex-direction: row;
    margin-top:5px;
}

.row2 > div {
    flex-grow: 1;
}


.row2 > div > img {
    width: 100%;
    padding: 8px;
}

.row2-bg {
    position: relative;
}

.row2-pic > img {
    width: 133%;
}
.row2-bg > .row2-pic {
    position: absolute;
    top:75px;
    right: 39px;
} 

.isra-map >img {
    
    position: absolute;
    width:24%;
    top: 63px;
    right:267px;

}


/* MAIN part END */
/* ------------------------------------ */

/* Footer part */

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgb(161, 159, 159);
}


footer > section > ul {
    display: flex;
    margin-right: 700px;
    font-size: 19px;
    padding: 0px;
    margin-bottom: 10px;


}
footer > section > ul > li {
padding-left: 5px;
}
footer > section > ul > li > span {
    padding-right: 5px;
    color: white;
}
footer > section > ul > li > a > img {
    position: absolute;
    width: 25px;
    right: 675px;
}

}